body {
  background: #f1f3f6;
}

video {
  width: 100%;
  height: 260px;
  background: black;
  border-radius: 8px;
  object-fit: cover;
}

pre {
  background: #fff;
  padding: 10px;
  border-radius: 6px;
}
